h2{
	margin-left: 20px;
	font-size: 50px;
	color: orange;
	text-shadow: 4px 2px black;
}
p{
	font-family: sans;
	font-size: 20px;
}
.options{
	text-decoration: underline;
	font-size: 40px;
	background-color: navy;
	color: white;
	border: white solid 2px;
	box-shadow: 10px 10px 5px white;
}
.orange{
	text-decoration: underline;
	font-size: 40px;
	background-color: navy;
	color: orange;
	border: white solid 2px;
	box-shadow: 10px 10px 5px white;
}
.bullet{
	list-style-type: none;
}
.clicked{
	text-decoration: underline;
	font-size: 40px;
	color: white;
	border: white solid 2px;
}
.box{
	background-color: white;
	opacity: 0.8;
	margin: 120px;
	width: 60%;
	float: right;
	border: 4px dashed;
	visibility: visible;
    position: absolute;
    top: 150px;
    right: 5px;
}
.show{
	background-color: white;
	opacity: 0.8;
	margin: 120px;
	float: right;
	border: 2px solid;
	visibility: visible;
	position: absolute;
    top: 150px;
    right: 390px;
	padding: 20px;
}
.description{
	margin: 30px;
}
.hidden{
	visibility: hidden;
	position: absolute;
    top: 200px;
    right: 5px;
}
.link{
	color: black;
}
.link:link{
	text-decoration: underline;
	color: black;
	font-size: 24px;
}
.link#smallLink{
	font-size: 16px;
}
.link:hover{
	color: orange;
}
span:hover{
	color: orange;
	text-shadow: 2px 2px black;
}
#section{
	width: 25%;
	background-color: white;
	opacity: 0.8;
	border: black solid 2px;
	list-style-type: square;
}
#help{
	padding-top: 20px;
}
#form{
	width: 40%;
	height: 200px;
	font-size: 30px;
	padding: 30px 30px 110px 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: gray;
	opacity: 0.8;
	border: black 3px double;
}
#middle{
	text-align: center;
	margin-right: 40px;
}
#para{
	background-color: white;
	opacity: 0.8;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: black solid 2px;
	padding: 0px 40px 40px 40px;
}
#left{
	float:left;
	display: inline;
}
#right{
	float:right;
	clear: right;
	display: inline;
}
#location{
	position: absolute;
	top: 350px;
	right: 300px;
}