body{
	margin: 0px;
	background: grey;
	
}
#wrapper{
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	margin-top: 0px;
}
#header{
	position: fixed;
	height:117px;
	width: 90%;
	background-color: #2E79FF;
	margin-top: -117px;
	z-index: 2;
}
#homeButton{
	border: solid black 2px;
	font-family: 'Quicksand', sans-serif;
	font-size: 34px;
	margin-right: 65%;
	text-align: center;
	padding: 0 10px 31px 10px;
	background-color: #2EE2FF;
}

a#homeButton: hover{
	border: solid black 2px;
	font-family: 'Quicksand', sans-serif;
	font-size: 34px;
	margin-right: 65%;
	text-align: center;
	padding: 0 10px 31px 10px;
	cbackground-color: rgba(255,255,255,.80);
}
#nav {
	float: right;
	margin-right: 2%;
	margin-top: -51px;
}
h1{
	font-size: 32px;
	color: black;
	clear: left;
}
#img{
	display: inline;
	float: left;
}
.Buttons {
	border:groove 1px white;
	background-color: rgba(46,255,255,.80);
	padding: 5px 15px 5px 15px;
	font-size:24px;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	margin-left: 5px;
}

a.Buttons:hover{
	background-color: rgba(255,255,255,.80);
}

.list{
	display: inline;
}

<<<<<<< HEAD
=======
a.Buttons:visited{
	text-decoration: none;
	color: black;
	outline: none;
	}
>>>>>>> 17f718fb0cf6e9e1a759dde5f02795fc0e6e99fb
.Buttons:link{
	text-decoration: none;
	color: black;
	outline: none;
}

a.Buttons:link{
<<<<<<< HEAD
=======
text-decoration: none;
	color: black;
	outline: none;
}
.Buttons:visited {
>>>>>>> 17f718fb0cf6e9e1a759dde5f02795fc0e6e99fb
	text-decoration: none;
	color: black;
	outline: none;
}
.Buttons:hover{
	background-color: rgba(255,255,255,.80);
}
.list{
	display: inline;
}

#links{
	display: inline;
	clear: right;
}

#content {
	background-image: url('wko.png');
	height: 600px;
	background-repeat: no-repeat;
	width: 100%;
	background-size: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 117px;
	overflow:auto;
}

#WKOtext {
	font-family: 'Fira Sans', sans-serif;
	font-size: 19px;
	padding: 10px 10px 10px 10px;
	margin-top: 25px;	
	margin-left: 20px;
	margin-right: 5px;
	background-color: rgba(159,159,159,0.50);
	color: #FFFFFF;
	position:relative;
	width: 600px;
	float: left;
	z-index: 1;	
}

#newsbox {
	float: right;
	background-color: rgba(255,255,255,0.65);
	margin: 25px 15px 0 0;
}

#footer {
	padding: 5px 0 5px 0;
	width: 100%;
	margin: auto;
	background-color: #2E79FF;
	text-align:center;
	position:relative;
	z-index:2;
}

.footerList {
width:200px;
margin: auto;
text-decoration: none;
}
.socialMediaLogo {
width:35px;
height:35px;
}

a.menu :visited {
color: black;
text-decoration: none;
}

a.menu :hover {
text-decoration: none;
color:#990099;
}

menu {
text-decoration:none;
}

.socfoot {
display: inline;
text-decoration:none;
list-style-type:none;
padding-right: 10px;
padding-left: 10px;
}

#sidebar {
	font-size: 40px;
	background-color: white;
	opacity: 0.8;
	width: 25%;
	border: black solid 2px;
	list-style-type: none;
	text-decoration:none;
	position: fixed;
    top: 150px;
}

.paragraphs {
	background-color: white;
	opacity: 0.8;
	font-size: 20px;
	padding: 0px 10px 20px 10px;
	margin: 15px 50px 50px 0px;
	width: 50%;
	border: 4px dashed;
	visibility: visible;
    position: relative;
    float:right;
    top: 60px;
    right: 5px;
    visibility:visible;
}

.hider {
    position: absolute;
    top: 60px;
    right: 5px;
 	visibility:hidden;
}

.program {
	text-decoration:none;
	color:black;
}

.program:hover {
	color: orange;
	text-shadow: 2px 2px black;
}

a.program:hover {
	color: orange;
	text-shadow: 2px 2px black;
}

.colored {
	color: orange;
	text-shadow: 2px 2px black;
}


.program:visited {
	color: black;
}

#homeLocator {
	list-style-type: none;
	text-decoration:none;
}

a#homeLocator:hover {
	color: orange;
	text-decoration:none;
}
#sitemap {
	display: inline;
}
#footernav {
	margin-bottom: -10px;
	margin-left: -5px;	
<<<<<<< HEAD
}
#active {
	background-color: 	rgba(255,255,255,.80);
=======
>>>>>>> 17f718fb0cf6e9e1a759dde5f02795fc0e6e99fb
}