body{
	margin: 0px;
	background: grey;
	
}
#wrapper{
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	margin-top: 0px;
}
#header{
	position: fixed;
	height:117px;
	width: 90%;
	background-color: #2E79FF;
	margin-top: -117px;
	z-index: 2;
}
#homeButton{
	border: solid black 2px;
	font-family: 'Quicksand', sans-serif;
	font-size: 34px;
	margin-right: 65%;
	text-align: center;
	padding: 0 10px 31px 10px;
	background-color: #2EE2FF;
}
#nav {
	float: right;
	margin-right: 2%;
	margin-top: -51px;
}
h1{
	font-size: 32px;
	color: black;
	clear: left;
}
#img{
	display: inline;
	float: left;
}
.Buttons{
	border:groove 1px white;
	background-color: rgba(46,255,255,.80);
	padding: 5px 15px 5px 15px;
	font-size:24px;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	margin-left: 20px;
}
.Buttons:hover{
	background-color: rgba(255,255,255,.80);
}
.list{
	display: inline;
}
a:visited{
	text-decoration: none;
	color: black;
	outline: none;
}
a:link{
	text-decoration: none;
	color: black;
	outline: none;
}
#links{
	display: inline;
	clear: right;
}
#content {
	background-image: url('wko.png');
	height: 600px;
	background-repeat: no-repeat;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 117px;
}
#WKOtext {
	font-family: 'Fira Sans', sans-serif;
	font-size: 19px;
	padding: 10px 10px 10px 10px;
	margin-top: 25px;	
	margin-left: 20px;
	margin-right: 5px;
	background-color: rgba(159,159,159,0.50);
	color: #FFFFFF;
	position:relative;
	width: 600px;
	float: left;
	z-index: 1;	
}
#newsbox {
	float: right;
	background-color: rgba(255,255,255,0.65);
	margin: 25px 15px 0 0;
}
#footer {
	padding: 10px 0 10px 0;
	width: 100%;
	margin: auto;
	background-color: #2E79FF;
	text-align:center;
}
.footerList {
width:200px;
margin: auto;
text-decoration: none;
}
.socialMediaLogo {
width:35px;
height:35px;
}
a:link {
text-decoration: none;
color:#707070;
}

a:visited {
text-decoration: none;
color:#707070;
}

a:hover {
text-decoration: none;
color:#990099;
}
.socfoot {
display: inline;
text-decoration:none;
list-style-type:none;
}